.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  overflow: hidden;
  color: var(--white);
  text-decoration: none;
  /* border: 1px solid var(--gray); */
  box-shadow: var(--black-box-shadow);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  max-width: 300px;
  background-color: var(--dark-gray);
  background-image: -webkit-linear-gradient(
    180deg,
    var(--primary),
    var(--secondary)
  );
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  -webkit-animation: hue 10s infinite linear;
  transition: all 0.3s ease-in;
}

.card:hover,
.card:focus,
.card:active {
  /* color: var(--secondary); */
  transform: scale(1.05);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .card {
  max-width: 400px;
  }
}

@media (min-width: 700px) {
  .card {
  max-width: 480px;
  }
}

@media (min-width: 1000px) {
  .card {
  max-width: 630px;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}