.container {
  height: 150px;
  width: 90%;
  max-width: var(--donation-button-max-width);
  background-color: var(--white);
  border: 2px solid var(--border-gray);
  border-radius: 6px;
  padding: 20px;
  margin: 0.5rem;
  transition: 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.container:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  transform: translateY(-5px);
}
