/* Header Styles Start */

.header__container {
  width: 100%;
  max-width: var(--page-max-width-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 3rem; */
}

.header__text {
  width: var(--form-width);
  margin-bottom: 1rem;
}

/* More options */
.header__more_options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: var(--fs-normal);
  color: var(--gray);
  cursor: pointer;
}

.header__more_options > span {
  padding-right: 5px;
}

/* Text */

.title a {
  color: var(--primary);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: var(--fs-big-title-sm);
  /* gradient color */
  background-image: -webkit-linear-gradient(
    180deg,
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: var(--fs-title);
  /* gradient color */
  background-image: -webkit-linear-gradient(
    180deg,
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.description {
  line-height: 1.5;
  font-size: var(--fs-subtitle);
  color: var(--description-color);
}

.title,
.description {
  text-align: center;
}

/* Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Media Queries */

@media (min-width: 600px) {
  .title {
    font-size: var(--fs-big-title-md);
  }

  .header__text {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 770px) {
  .header__container {
    margin: 2rem 0;
  }

  .title {
    font-size: var(--fs-big-title-lg);
  }

  .description {
    padding: 0 2.9rem 0;
  }
}

/* Header Styles End */

/* Donations Styles Start */

.donations__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Donations Styles End */

/* Evidences Styles Start */

.evidences__container {
  position: relative;
  height: 50vh;
}

.evidences {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.evidences::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.evidences {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.child {
  height: 50vh;
  width: 80%;
  border-radius: 5px;
  margin-right: 2rem;
  display: inline-block;
  scroll-snap-align: center;
}

.child:first-child {
  margin-left: 1rem;
}
.child:last-child {
  margin-right: 1rem;
}

.child__content {
  background-color: salmon;
  height: 100%;
}

/* Buttons */

.button_left,
.button_right {
  position: absolute;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  top: 50%;
  display: flex;
  align-items: center;
  z-index: 1000;
  color: black;
  height: 150px;
  width: 50px;
  background-color: var(--dark-gray);
  opacity: 0.5;
}
.button_left {
  left: 0;
}
.button_right {
  right: 0;
}
.button_right:hover {
  opacity: 0.7;
}
.button_left:hover {
  opacity: 0.7;
}

/* Evidences Styles End */
