/* Header Styles Start */

.header__container {
  height: 100%;
  width: 100%;
  max-width: var(--page-max-width-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 4rem 0;
}

.header__text {
  width: var(--form-width);
  margin-bottom: 1rem;
}

/* More options */
.header__more_options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: var(--fs-normal);
  color: var(--gray);
  cursor: pointer;
}

.header__more_options > span {
  padding-right: 5px;
}

/* Text */

.title a {
  color: var(--primary);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: var(--fs-big-title-sm);
  /* gradient color */
  background-image: -webkit-linear-gradient(
    180deg,
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: var(--fs-title);
  /* gradient color */
  background-image: -webkit-linear-gradient(
    180deg,
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.description {
  line-height: 1.5;
  font-size: var(--fs-subtitle);
  color: var(--description-color);
}

.title,
.description {
  text-align: center;
}

/* Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Media Queries */

@media (min-width: 600px) {
  .title {
    font-size: var(--fs-big-title-md);
  }

  .header__text {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 770px) {
  .header__container {
    margin: 2rem 0;
  }

  .title {
    font-size: var(--fs-big-title-lg);
  }

  .description {
    padding: 0 2.9rem 0;
  }
}

/* Header Styles End */

/* Commitments Styles Start */

.commitments__container {
  height: 100%;
  width: 100%;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  text-align: center;
}

/* Commitments Styles End */

/* Donations Styles Start */

.donations__container {
  height: 100%;
  background-color: var(--dark-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
}

.donations__text1 {
  margin: 0;
  line-height: 1.15;
  font-size: var(--fs-title);
  /* gradient color */
  background-image: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.donations__text2 {
  margin: 0;
  line-height: 1.15;
  font-size: var(--fs-title);
  /* gradient color */
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.donations__text3 {
  margin: 0;
  line-height: 1.15;
  font-size: var(--fs-title);
  /* gradient color */
  background-color: #000000;
  background-image: linear-gradient(315deg, #222222 0%, #717171 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Donations Styles End */

/* Evidences Styles Start */

.evidences__container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--dark-white);
  /* padding: 3rem; */
}

.evidences__text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.evidences__scroll {
  padding: 1.5rem 0;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.evidences__scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.evidences__scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.child {
  height: 50vh;
  width: 80%;
  border-radius: 5px;
  margin-right: 2rem;
  display: inline-block;
  scroll-snap-align: center;
}

.child:first-child {
  margin-left: 1rem;
}
.child:last-child {
  margin-right: 1rem;
}

.child__content {
  background-color: salmon;
  height: 100%;
}

/* Buttons */

.button_left,
.button_right {
  position: absolute;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  top: 50%;
  display: flex;
  align-items: center;
  z-index: 1000;
  color: black;
  height: 150px;
  width: 50px;
  background-color: var(--dark-gray);
  opacity: 0.5;
}
.button_left {
  left: 0;
}
.button_right {
  right: 0;
}
.button_right:hover {
  opacity: 0.7;
}
.button_left:hover {
  opacity: 0.7;
}

/* Evidences Styles End */

/* Backgound Styles Start */

.background__container {
  height: 100%;
  background-color: var(--dark-gray);
  padding-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background__container_scroller {
  height: 500px;
  width: 100%;
  padding: 0 2rem;
  overflow-y: scroll;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(3rem);
  scroll-snap-points-y: repeat(3rem);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.background__container li {
  border-bottom: 1px solid var(--light-gray);
  width: 100%;
  height: 100px;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  background-color: var(--white);
}

.background__container li:last-child {
  border-bottom: none;
}

/* Backgound Styles End */
